/* ==========================================================================
   TABLES
   ========================================================================== */

   table {
    margin-bottom: 1em;
    width: 100%;
    font-family: $global-font-family;
    font-size: $type-size-6;
    border-collapse: collapse;
    border: none; /* Remove border */
    background-color: transparent; /* Transparent background */
  }
  
  thead {
    background-color: transparent; /* Transparent background for the header */
    border-bottom: none; /* Remove border bottom */
  }
  
  th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
    border: none; /* Remove borders */
  }
  
  td {
    padding: 0.5em;
    border: none; /* Remove borders */
  }
  
  tr, td, th {
    vertical-align: middle;
  }